
body{
    background-image: url(../image/pexels-aleksa-kalajdzic-5340051\ \(1\).jpg);
    background-position:  center center;
    background-size: cover;
    
}
.box{

    width: 40%;
    box-shadow: 0px 0px 50px #000 ;
    background-color:rgba(79, 80, 81, 0.6);
    height: 75%;
}
.smart{
    color: #e5f1f3;
    margin: 12%;

}
.box input{
    background-color: #24353F;
    width: 80%;
    margin-left: 10%;
}
.box .btn{
    width: 80%;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: underline;
}
.container-fluid{
    background-image: url(../image/neda-astani-KWTkd7mHqKE-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    width: 30px;
    height: 10px;
}
h3{
    display: none;
}
.container-fluid >p{
    display: none;
}
.row .col-md-12{
    display: none;
}
.contact{
    margin-left: 75%;
    opacity: 0.8;
}
